[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Markets Today
Comment=A simple application for tracking stock quotes
Categories=Utilities;Desktop;Finance;X-MeeGo;
Exec=/opt/marketstoday/marketstoday
Icon=/usr/share/icons/hicolor/80x80/apps/marketstoday_icon.png
OnlyShowIn=X-MeeGo;
