[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Markets Today
Comment=A simple desktop widget for stock quotes
Categories=Utilities;Desktop;Finance;
Exec=/opt/marketstoday/marketstoday
Icon=marketstoday_scalable_icon
X-Icon-path=/usr/share/icons
X-Window-Icon=marketstoday_scalable_icon
X-Osso-Type=application/x-executable
